### Import Dependancies

In [11]:
import pandas as pd
import os
import numpy as np

In [12]:
# Import Data 
employee = "Payment.csv"

# Read data into Pandas DataFrames
employee_df = pd.read_csv(employee)
employee_df.head()

     Date                   Product  WorkingDays
0  Jan-10  Accessories & Equipment            15
1  Feb-10  Accessories & Equipment            15
2  Mar-10  Accessories & Equipment            15
3  Apr-10  Accessories & Equipment            15
4  May-10  Accessories & Equipment            15

### Clean DataÂ¶

In [13]:
#Round Null Values 
employee_df = employee_df.dropna()
employee_df.head()

     Date                   Product  WorkingDays
0  Jan-10  Accessories & Equipment            15
1  Feb-10  Accessories & Equipment            15
2  Mar-10  Accessories & Equipment            15
3  Apr-10  Accessories & Equipment            15
4  May-10  Accessories & Equipment            15

In [14]:
employee_df.to_csv('../Cleaned_Data/Payment.csv', index=False)