### Import Dependancies

In [1]:
import pandas as pd
import os
import numpy as np

In [4]:
# Import Data 
employee = "Resources/Employee.csv"

# Read data into Pandas DataFrames
employee_df = pd.read_csv(employee)
employee_df.head()

,Department,Year of Service,YrsEducation,Age,Gender,College Grad,Local,Satisfaction
0,Finance & Purchasing,3.0,14,52,F,False,True,3.39
1,Finance & Purchasing,6.7,13,22,M,True,True,3.43
2,Finance & Purchasing,24.8,17,27,M,False,False,4.55
3,Finance & Purchasing,18.1,15,47,F,False,False,4.27
4,Finance & Purchasing,22.2,15,18,F,True,True,2.57

### Clean DataÂ¶

In [5]:
#Round Null Values 
employee_df = employee_df.dropna()
employee_df.head()

,Department,Year of Service,YrsEducation,Age,Gender,College Grad,Local,Satisfaction
0,Finance & Purchasing,3.0,14,52,F,False,True,3.39
1,Finance & Purchasing,6.7,13,22,M,True,True,3.43
2,Finance & Purchasing,24.8,17,27,M,False,False,4.55
3,Finance & Purchasing,18.1,15,47,F,False,False,4.27
4,Finance & Purchasing,22.2,15,18,F,True,True,2.57

In [6]:
# Round Volume to nearest 100
sales_df['Total'] = (sales_df['Total'] / 100).round() * 100
sales_df.head()

NameError: name 'sales_df' is not defined

In [ ]:
production_df.to_csv('Product Cost Per Unit.csv', index=False)